.card{
    text-align: left;
    border: 1px #1de592;
    width: 400px;
    height: 300px;
    background-color: #1de592;
    padding: 20px;
    border-radius: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 30px auto;
}

.btn{
    background-color: aliceblue;
    color: black;
    border: none;
    padding: 14px 32px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 1000px;
    margin-top: 20px;
}

.heading{
    margin-bottom: 0;
}

.heading_2{
    margin: 0 0;
}

p{
    margin-top: 30px;
}
